{
  "presets": ["env"],
  "plugins": [
    ["transform-regenerator", {
      "asyncGenerators": true,
      "generators": true,
      "async": true
    }],
    "syntax-async-functions"
  ]
}
