.site-loading {

  .project-animation-intro .intro-borders {
    transform: rotate(0) scaleX(0);
    transition: transform .35s ease-in-out;
  }
}

.site-loaded {

  .project-animation-intro .intro-borders {
    transform: rotate(106deg) scaleX(.75);
    transition: transform .35s ease-in-out;
  }
}

.project-animation-intro {

  .fixed-bg {
    background: $body-background-color;
  }

  .content-wrapper {
    left: 0;
    margin: 0 auto;
    max-width: 54rem;
    position: relative;
    top: 0;
    width: 100%;
  }

  .intro-borders {
    height: 0;
    left: 0;
    margin-top: -50%;
    overflow: hidden;
    padding-top: 100%;
    position: absolute;
    top: 0;
    transform: rotate(106deg) scaleX(.75);
    transform-origin: center;
    width: 100%;
    will-change: transform;
    z-index: 2;

    .intro-border-bottom {
      background: $dark;
      border-bottom: .1rem solid $primary-color;
      bottom: calc(100% - .1rem);
      height: 100%;
      left: 0;
      position: absolute;
      width: 100%;
      will-change: transform;
    }

    .intro-border-top {
      background: $dark;
      border-top: .1rem solid $primary-color;
      height: 100%;
      left: 0;
      position: absolute;
      top: calc(100% - .1rem);
      width: 100%;
      will-change: transform;
    }
  }

  .intro-content {
    height: 0;
    left: 50%;
    overflow: hidden;
    padding-top: 100%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center;
    width: 100%;
    z-index: 1;
  }

  .intro-inner-content {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transform-origin: center;
    width: 100%;
    z-index: 1;
  }

  .jef-logo {
    background-image: url('../images/jef-logo.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 10rem;
    margin: 0 auto;
    width: 17.6rem;
  }

  .intro-statement {
    color: $white;
    font-size: 2.2rem;
    line-height: calc(36 / 22);
    margin-top: 4rem;
    padding: 0 4rem;

    .highlight {
      color: $primary-color;
    }
  }
}
