.project-animation-oovoo {
  height: 55rem;

  @include breakpoint(sm) {
    height: 65rem;
  }

  @include breakpoint(md) {
    height: 70rem;
  }

  .fixed-bg {
    background: rgb(238, 131, 0);
    background: linear-gradient(0deg, rgba(238, 175, 0, 1) 0%, rgba(238, 131, 0, 1) 100%);
  }

  .content-wrapper {
    align-items: center;
    display: flex;
    margin-top: 15%;
  }

  .site-bg {
    height: auto;
    position: absolute;
    top: 0;
    transform-origin: center;
    width: 100%;
  }

  .site-hand-drawn-type-wrapper {
    height: auto;
    left: 50%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center;
    width: 71.02%;
    z-index: 1;
  }

  .tablet-wrapper {
    height: 32.6rem;
    margin: 0 auto;
    max-width: 43.5rem;
    position: relative;
    width: 90%;

    .screen-content-wrapper {
      border-radius: .4rem;
      height: 100%;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      top: 0;
      transform-origin: center;
      visibility: hidden;
      width: 100%;
      z-index: 1;
    }

    .device-wrapper {
      height: 107.36%;
      left: -2.875%;
      max-height: 35rem; // 76% for phone transformation
      max-width: 46rem; // 29.13% for phone transformation
      // min-height: 26.6rem;
      // min-width: 13.4rem;
      opacity: 0;
      position: absolute;
      top: -3.68%;
      transform-origin: center;
      visibility: hidden;
      width: 105.75%;

      .device-shadow {
        height: 110%;
        left: -5%;
        opacity: .7;
        position: absolute;
        top: -10%;
        width: 110%;
      }

      .device-frame {
        background-color: rgb(238, 126, 23);
        border-radius: 1.2rem;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }

      .tablet-volume-button {
        background-color: rgb(238, 126, 23);
        border-radius: .2rem;
        height: 1.14%;
        left: 6.52%;
        position: absolute;
        top: -.57%;
        width: 4.35%;
      }

      .tablet-power-button {
        background-color: rgb(238, 126, 23);
        border-radius: .2rem;
        height: 5.71%;
        left: -.435%;
        position: absolute;
        top: 5.71%;
        width: .87%;
      }
    }
  }

  .phone-wrapper {
    height: 100%;
    left: 50%;
    // margin-top: 5.64%;
    max-height: 25.2rem;
    max-width: 12rem;
    opacity: 0;
    position: absolute;
    transform-origin: center;
    visibility: hidden;
    width: 100%;

    .screen-content-wrapper {
      border-radius: .4rem;
      height: 100%;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      top: 0;
      transform-origin: center;
      visibility: hidden;
      width: 100%;
      z-index: 1;
    }

    .device-wrapper {
      height: 105.56%;
      left: -5.835%;
      max-height: 35rem;
      max-width: 46rem;
      position: absolute;
      top: -2.78%;
      transform-origin: center;
      visibility: hidden;
      width: 111.67%;

      .device-shadow {
        height: 120%;
        left: -10%;
        opacity: .7;
        position: absolute;
        top: -12%;
        width: 120%;
      }

      .device-frame {
        background-color: rgb(238, 126, 23);
        border-radius: 1.2rem;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }

      .device-buttons {
        left: 50%;
        max-height: 1rem;
        max-width: 7.8rem;
        position: absolute;
        top: 2.26%;
        transform: translateX(-50%);
        z-index: 1;
      }
    }
  }
}

.project-details-oovoo {
  background: rgba(238, 131, 0, .75);
  background: linear-gradient(0deg, rgba(238, 175, 0, .75) 0%, rgba(238, 131, 0, .75) 100%);
  background-attachment: fixed;
  background-size: 100% 100%;
}

.oovoo-logo {
  background-image: url('../images/oovoo/oovoo-logo.svg');
  height: 3.8rem;
  width: 12.2rem;
}
