.asset-loader {
  display: inline-block;
  height: 8rem;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 8rem;
}

.asset-loader::after {
  animation: ldr-dual-ring .75s linear infinite;
  border: .2rem solid $light-gray;
  border-color: $light-gray transparent $light-gray transparent;
  border-radius: 50%;
  content: '';
  display: block;
  height: 6.4rem;
  margin: .8rem;
  width: 6.4rem;
}

@keyframes ldr-dual-ring {

  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.section-loader-wrapper {
  visibility: hidden;
}

.noscroll {

  .section-loader-wrapper {
    visibility: visible;

    &::after {
      background-color: $black;
      content: '';
      height: 100%;
      left: 0;
      opacity: .5;
      position: fixed;
      top: 0;
      transition: opacity .25s ease-in-out;
      width: 100%;
      z-index: 100;
    }
  }
}
