.project-animation-swfcorp {
  height: 55rem;

  @include breakpoint(lg) {
    height: 90rem;
  }

  .section-content {
    padding: 0;
  }

  .fixed-bg {
    background: rgb(2, 47, 97);
    background: linear-gradient(0deg, rgba(105, 197, 231, 1) 0%, rgba(2, 47, 97, 1) 100%);
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;
  }

  .shelf-wrapper {
    margin-top: 2%;
    width: 100%;

    .shelf-inner {
      background: linear-gradient(0deg, rgba(2, 47, 97, 0) 0%, rgba(2, 47, 97, .2) 100%);
      height: 0;
      margin-top: 0;
      overflow: hidden;
      padding-top: 12.5%;
    }
  }

  .devices {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15%;
    padding: 0 2rem;
    width: 100%;
  }

  .monitor-left-wrapper,
  .monitor-right-wrapper {
    max-width: 53.5rem;
    perspective: 100rem;
    position: relative;
    width: 100%;
  }

  .perspective-content {
    padding-top: 74.39%;
    position: relative;
    width: 100%;
    will-change: transform;
    z-index: 1;
  }

  .monitor-left-wrapper {

    .perspective-content {
      transform: rotateX(-1deg) rotateY(33deg) rotateZ(-5deg);
    }
  }

  .monitor-right-wrapper {
    display: none;

    @include breakpoint(lg) {
      display: block;
      margin-left: 5%;
    }

    .perspective-content {
      transform: rotateX(1deg) rotateY(-33deg) rotateZ(5deg);
    }

    .device-base {
      transform: scaleX(-1) translateX(51%);
    }
  }

  .device-frame {
    background-color: rgb(158, 214, 229);
    border-radius: 2rem;
    height: 100%;
    left: 0;
    opacity: .5;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .device-frame-bottom {
    background-color: rgb(158, 214, 229);
    border-radius: 0 0 2rem 2rem;
    bottom: 0;
    height: 15.58%;
    left: 0;
    opacity: .5;
    position: absolute;
    width: 100%;
  }

  .screen-content-wrapper {
    background-color: $white;
    height: 76.38%;
    left: 50%;
    overflow: hidden;
    position: absolute;
    top: 4.27%;
    transform: translateX(-50%);
    width: 94%;
    z-index: 1;
  }

  .device-base {
    bottom: -23%;
    height: auto;
    left: 50%;
    opacity: .5;
    position: absolute;
    transform: translateX(-50%);
    width: 37.01%;
  }
}

.project-details-swfcorp {
  background: rgba(2, 47, 97, .75);
  background: linear-gradient(0deg, rgba(105, 197, 231, .75) 0%, rgba(2, 47, 97, .75) 100%);
  background-attachment: fixed;
  background-size: 100% 100%;
}

.swfcorp-logo {
  background-image: url('../images/swfcorp/swfcorp-logo.svg');
  height: 5.9rem;
  width: 10.7rem;
}
