.project-animation-swfcorp {
  height: 80rem;

  /* @include breakpoint(sm) {
    height: 65rem;
  } */

  @include breakpoint(md) {
    height: 100rem;
  }

  .fixed-bg {
    background: rgb(2, 47, 97);
    background: linear-gradient(0deg, rgba(105, 197, 231, 1) 0%, rgba(2, 47, 97, 1) 100%);
  }

  .devices {
    display: flex;
    flex-direction: row;
    justify-content: center;
    left: 0;
    margin-top: 10%;
    padding: 0 2rem;
    perspective: 100rem;
    position: absolute;
    width: 100%;
  }

  .monitor-left-wrapper,
  .monitor-right-wrapper {
    max-width: 53.5rem;
    position: relative;
    width: 100%;
  }

  .perspective-content {
    padding-top: 74.39%;
    position: relative;
    width: 100%;
    z-index: 1;
  }

  .monitor-left-wrapper {

    .perspective-content {
      transform: rotateX(-2deg) rotateY(50deg) rotateZ(-2deg);
    }
  }

  .monitor-right-wrapper {

    .perspective-content {
      transform: rotateX(-2deg) rotateY(-50deg) rotateZ(2deg);
    }

    .device-base {
      transform: scaleX(-1) translateX(51%);
    }
  }

  .device-frame {
    background-color: rgb(158, 214, 229);
    border-radius: 2rem;
    height: 100%;
    left: 0;
    opacity: .5;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .device-frame-bottom {
    background-color: rgb(158, 214, 229);
    border-radius: 0 0 2rem 2rem;
    bottom: 0;
    height: 15.58%;
    left: 0;
    opacity: .5;
    position: absolute;
    width: 100%;
  }

  .screen-content-wrapper {
    background-color: $white;
    height: 76.38%;
    left: 50%;
    position: absolute;
    top: 4.27%;
    transform: translateX(-50%);
    width: 94%;
    z-index: 1;
  }

  .device-base {
    bottom: -23%;
    height: auto;
    left: 50%;
    opacity: .5;
    position: absolute;
    transform: translateX(-50%);
    width: 37.01%;
  }
}

.project-details-swfcorp {
  background: rgba(2, 47, 97, .75);
  background: linear-gradient(0deg, rgba(105, 197, 231, .75) 0%, rgba(2, 47, 97, .75) 100%);
  background-attachment: fixed;
  background-size: 100% 100%;
}
