.project-animation-tumblr {
  height: 200rem;

  @include breakpoint(md) {
    height: 90rem;
  }

  .fixed-bg {
    background: rgb(216, 180, 17);
    background: linear-gradient(0deg, rgba(216, 180, 17, 1) 0%, rgba(249, 216, 67, 1) 100%);
  }

  .content-wrapper {
    //
  }

  .info-card-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10% auto 0;
    max-width: 96rem;
    width: 100%;
  }

  .info-card {
    perspective: 100rem;
  }

  .info-card-inner {
    background-color: $white;
    display: flex;
    flex-direction: column;
    height: 26rem;
    margin-bottom: 1.5rem;
    transform-origin: center;
    transform-style: preserve-3d;
    width: 18rem;

    .card-img {
      height: 10rem;
      margin-top: 1rem;
      width: auto;

      img {
        height: 100%;
      }
    }

    .card-content {
      display: flex;
      flex-direction: column;
      margin: .5rem 2rem 1rem;
    }

    .card-total {
      border-bottom: .1rem solid $light-gray;
      color: $mid-gray;
      font-family: 'Rubik One', 'Muli', Helvetica, Arial, sans-serif;
      font-size: 3.4rem;
      letter-spacing: -.05em;
      margin-bottom: .5rem;
    }

    .card-interval {
      font-size: 1.1rem;
      font-weight: 900;
      margin-bottom: .2rem;
      text-transform: uppercase;
    }

    .card-desc {
      font-size: 1rem;
    }
  }
}

.project-details-tumblr {
  background: rgba(216, 180, 17, .75);
  background: linear-gradient(0deg, rgba(216, 180, 17, .75) 0%, rgba(249, 216, 67, .75) 100%);
  background-attachment: fixed;
  background-size: 100% 100%;
}
