@import 'variables';
@import 'typography';
@import 'at-a-glance';
@import 'resightings';

.project-animation-trainspotted {
  height: 55rem;

  @include breakpoint(xs) {
    height: 57rem;
  }

  @include breakpoint(sm) {
    height: 60rem;
  }

  @include breakpoint(lg) {
    height: 66rem;
  }

  .fixed-bg {
    background: rgb(201, 201, 185);
    background: linear-gradient(0deg, rgba(201, 201, 185, 1) 0%, rgba(229, 229, 217, 1) 100%);
  }

  .data-visualization {
    margin-top: 10%;
  }

  .visualization-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  .visualization-overlay-inner {
    margin: 0 auto;
    max-width: 45rem;
    width: 100%;
  }
}

.project-details-trainspotted {
  background: rgba(201, 201, 185, .75);
  background: linear-gradient(0deg, rgba(201, 201, 185, .75) 0%, rgba(229, 229, 217, .75) 100%);
  background-attachment: fixed;
  background-size: 100% 100%;
}

.trainspotted-logo {
  background-image: url('../images/trainspotted/trainspotted-logo.svg');
  height: 12rem;
  width: 15rem;
}
