$trainspotted-san-serif-font: 'Muli', Helvetica, Arial, Roboto, sans-serif;
$trainspotted-body-font: 'Muli', Helvetica, Arial, Roboto, sans-serif;

$trainspotted-background-color: rgb(209, 209, 197);
$trainspotted-background-color-light: rgb(229, 229, 217);
$trainspotted-background-color-lighter: rgb(242, 242, 232);
$trainspotted-highlight-color: rgb(233, 211, 125);
$trainspotted-highlight-color-25: rgba(233, 211, 125, .25);
$trainspotted-black: rgb(0, 0, 0);
$trainspotted-black-50: rgba(0, 0, 0, .5);
$trainspotted-dark: rgb(40, 40, 38);
$trainspotted-dark-15: rgba(40, 40, 38, .15);
$trainspotted-dark-25: rgba(40, 40, 38, .25);
$trainspotted-dark-50: rgba(40, 40, 38, .5);
$trainspotted-dark-75: rgba(40, 40, 38, .75);
$trainspotted-white: rgb(255, 255, 255);
$trainspotted-white-15: rgba(255, 255, 255, .15);
$trainspotted-white-10: rgba(255, 255, 255, .1);
$trainspotted-white-5: rgba(255, 255, 255, .05);
$trainspotted-white-50: rgba(255, 255, 255, .5);

$trainspotted-base-shadow: 0 .1rem .1rem 0 $trainspotted-dark-15;
