// Colors
$black: rgb(0, 0, 0);
$dark: rgb(21, 20, 20);
$mid-gray: rgb(138, 137, 137);
$light-gray: rgb(196, 196, 196);
$primary-color: rgb(249, 216, 67);
$primary-color-75: rgba(249, 216, 67, .75);
$white: rgb(255, 255, 255);
$red: rgb(255, 0, 0);
$body-background-color: $dark;
$body-font: 'Muli', Helvetica, Arial, sans-serif;
