.footer {
  background: $black;
  position: relative;
  width: 100%;
  z-index: 2;

  .footer-inner {
    margin: 0 auto;
    padding: 4rem 0;
  }

  .footer-content {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    max-width: 96rem;
    width: calc(100% - 4rem);

    > div {
      margin: 0 1.5rem;
      text-align: center;
      width: calc(33.333% - 3rem);
    }
  }

  .heading-lg {
    text-align: center;
  }

  .heading-sm {
    color: $primary-color;
  }

  .flag-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 1rem;
  }

  .social-nav {
    display: flex;
    flex-direction: row;
    margin: 5rem auto 0;
    max-width: 30rem;
    width: 100%;

    li {
      display: block;
      height: 0;
      overflow: hidden;
      padding-top: 25%;
      position: relative;
      width: 25%;

      a {
        background-position: center;
        background-repeat: no-repeat;
        background-size: 2.4rem 2.4rem;
        height: 0;
        overflow: hidden;
        padding-top: 100%;
        position: absolute;
        top: 0;
        width: 100%;
      }

      .instagram-link {
        background-image: url('../images/instagram-icon.svg');
      }

      .strava-link {
        background-image: url('../images/strava-icon.svg');
        background-size: 2.7rem 4rem;
      }

      .linkedin-link {
        background-image: url('../images/linkedin-icon.svg');
      }

      .discogs-link {
        background-image: url('../images/discogs-icon.svg');
      }

      .github-link {
        background-image: url('../images/github-icon.svg');
      }
    }
  }

  .copyright-content {
    margin-top: 3rem;
    text-align: center;
  }
}
