.site-loading {
  height: 100%;
  overflow: hidden;
}

.heading-sm {
  color: $white;
  font-size: 1.1rem;
  font-weight: 900;
  letter-spacing: .12em;
  margin-bottom: .4rem;
  text-transform: uppercase;
}

.heading-xs {
  color: $white;
  font-size: .8rem;
  font-weight: 900;
  letter-spacing: .1em;
  margin-bottom: .4rem;
  text-transform: uppercase;
}

.heading-lg {
  color: $white;
  font-size: 4.2rem;
  font-weight: 200;
  line-height: 1.15;
  margin-bottom: 2rem;

  strong {
    font-weight: 500;

    @include breakpoint(md) {
      display: block;
    }
  }
}

.heading-md {
  color: $white;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.15;
}

.body-regular {
  color: $white;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 2;
}

.body-sm {
  color: $white;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.6;
}
